 {{> head }} 
    {{> navbar }}

    <div class="row p-2">
<div class="col-8">
    <p>En 1991, comienza la historia de la universidad, siendo una de las primeras tres primeras Universidad Tecnológicas del país, pioneras en la implementación del modelo de educación Técnico Superior Universitario, un modelo basado en las mejores prácticas de los Institutos Universitarios de Francia, el cual promueve la integración de la práctica y la presencia de los estudiantes en la empresa desde los primeros años de su formación académica. </p>
</div>

<div class="col-4">
<img src="assets/img/Logo.png" class="img-thumbnail" alt="">
</div>
</div>

{{> footer }}
